/*FLEXIBLE BOX MODEL*/

*{
  margin: 0px;
  padding: 0px;
}
h1{
  font: bold 20px Tahoma;
}
h2{
  font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
  display: block;
}
body{
  width: 100%;
  display: -webkit-box;
  -webkit-box-pack: center; /*centers the website*/
}
#big_wrapper{
  max-width: 1000px;
  margin: 20px 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1; /*1=flexible 0=fixed*/
}
#top_header{
  background: yellow;
  border: 3px solid black;
  padding: 20px;
}
#top_menu{
  border: red;
  background: blue;
  color: white;
}
#top_menu li{
  display: inline-block; /*inline= position it in line instead of on top of eachother*/
  list-style: none; /*basically means no bullets or anything*/
  padding: 5px;
  font: bold 14px Tahoma;
}
#new_div{
  display: -webkit-box; /*has boxes inside it so parent must be a box*/
  -webkit-box-orient: horizontal; /*children side by side, not on top of eachother*/
}
#main_section{
  border: 1px solid blue;
  -webkit-box-flex: 1; /*this box is going to be flexible -> dynamically change in size*/
  margin: 20px;
  padding: 20px;
}
#side_news{
  border: 1px solid red;
  width: 220px;
  margin: 20px 0px;
  padding: 30px;
  background: #66CCCC;
}
#the_footer{
  text-align: center;
  padding: 20px;
  border-top: 2px solid green;
}
